.main-header {
    background-image: url("/banner.png");
    height: 100vh auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.banner-title {
    color: #55428F;
    font-size: 3rem;
    overflow: hidden;
}

.title-color {
    color: #343030;
}

.author-name {
    color: #343030;
}

.btn-bg {
    background-color: #55428F;
    color: #FFFFFF;
}

.btn-outline {
    background-color: #FFFFFF;
    border: 2px solid #55428F;
    color: #55428F;
}