.main-nav {
    background-color: #FFFFFF;
    box-shadow: 10px 10px 96px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 96px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 96px 0px rgba(0, 0, 0, 0.75);
}

.logo {
    width: 200px;
    overflow: hidden;
    cursor: pointer;
}

@media (max-width: 575.98px) {
    .logo {
        width: 130px;
    }
}