.add-new {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bank-card {
    background-color: #0A131E;
    border-radius: 20px;
}

.bank-bg {
    background-color: #0A131E;
}

.add-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
}