.app-section {
    background-color: #0A131E;
}

.app-bg {
    background-color: #ed3030;
    clip-path: polygon(0% 0%, 86% 0, 100% 50%, 88% 100%, 0% 100%);
    border-radius: 20px;
}

.btn-app {
    background-color: #0A131E;
    color: #ed3030;
    margin-top: 70px;
    clip-path: polygon(0% 0%, 86% 0, 100% 50%, 88% 100%, 0% 100%);
}

.app-img-bg {
    padding: 20px;
}

.app-img {
    width: 200px;
    height: 150px;
}

.fcard1 {
    border-radius: 50px;
    background: linear-gradient(145deg, #09111b, #0b1420);
    box-shadow: 20px 20px 60px #09101a,
        -20px -20px 60px #0c1623;
}

.fcard2 {
    border-radius: 50px;
    background-color: #ed3030;
    color: #0A131E;
}

.secure-text {
    color: #ed3030;
}

.app-btn {
    background-color: #0A131E;
    color: #ed3030;
}