.app-section {
    background-color: #FFFFFF;
    overflow: hidden;
}

.app-bg {
    background-color: #55428F;
    clip-path: polygon(0% 0%, 86% 0, 100% 50%, 88% 100%, 0% 100%);
    border-radius: 20px;
}

.btn-app {
    background-color: #0A131E;
    color: #55428F;
    margin-top: 70px;
    clip-path: polygon(0% 0%, 86% 0, 100% 50%, 88% 100%, 0% 100%);
}

.app-img-bg {
    padding: 20px;
}

.app-img {
    width: 200px;
    height: 150px;
}

.fcard1 {
    border-radius: 50px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow: 20px 20px 60px #d9d9d9,
        -20px -20px 60px #ffffff;
}

.fcard2 {
    border-radius: 50px;
    background-color: #55428F;
    color: #343030;
}

.secure-title {
    color: #343030;
}

.secure-text {
    color: #55428F;
}

.app-btn {
    background-color: #FFFFFF;
    color: #55428F;
}