.dashboard {
    background-color: #FFFFFF;
}

.amount-box {
    border-radius: 50px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow: 20px 20px 60px #d9d9d9,
        -20px -20px 60px #ffffff;
}

.amount-box2 {
    background-image: url("/balance.png");
    height: 100vh auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    overflow: hidden;
}

.amount-title {
    font-size: 20px;
}

.amount {
    font-size: 3rem;
}