.features-section {
    background-color: #FFFFFF;
    overflow: hidden;
}

.features-heading {
    color: #55428F;
    font-size: 3rem;
    overflow: hidden;
}

.feature-box {
    border-radius: 50px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow: 20px 20px 60px #d9d9d9,
        -20px -20px 60px #ffffff;
}

.feature-title {
    color: #343030;
    font-size: 2rem;
    overflow: hidden;
}

.feature-title-color {
    color: #55428F
}

.feature-boxes {
    border-radius: 50px;
    background: #FFFFFF;
    box-shadow: 20px 20px 60px #d9d9d9,
        -20px -20px 60px #ffffff;
}

.feature-text {
    font-size: 19px;
}