.footer {
    background-color: #0A131E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divider {
    margin-top: 7px;
    height: 10px;
    background-color: #FFCB73;
}

.follow-us-title {
    font-size: 2rem;
    color: #FFCB73;
    overflow: hidden;
}

.social-icons {
    background-color: #FFCB73;
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0% 0%, 100% 0%, 100% 88%, 77% 88%, 75% 100%, 39% 87%, 0 87%);
}

.social-img {
    width: 200px;
}

.copyright {
    overflow: hidden;
}