.mobile-nav {
    display: none;
}

@media (max-width: 991.98px) {
    .mobile-nav {
        display: block;
    }

    .sidenav {
        display: none;
    }

    .dashboard-nav {
        display: none;
    }
}