.id-name {
    font-size: 20px;
    margin-top: 10px;
}

.menu {
    margin-bottom: 10px;
    cursor: pointer;
    transition: .4s linear;
}

.menu:hover {
    padding: 10px;
    background-color: #55428F;
    color: #FFFFFF;
    border-radius: 18px;
    font-weight: bold;
}